<h1>Acerca de...</h1>
<p>
  <strong>iTuits</strong> es una red social 100% mexicana creada por
<a href="http://twitter.com/juancar1os">JuanCarlos</a>, osea yo.
</p>
<p>
	<h4><strong>iTuits</strong></h4>
	Del Nahuatl: <br/>
	<i><strong>i</strong></i> =  internetzz<br/>
	<i><strong>Tuits</strong></i> =  red social mexicana revolucionaria y mágica<br/>
	Lo puedes pronunciar como quieras: <strong>"ai-tuits", "ituits", "aituirer"</strong>, es parte de la mágia!
</p>

<p> 
Éste "proyecto" surgió porque desde hace mucho tiempo había querido aprender a utilizar Ruby y 
aprender programación web (Modelo Vista Controlador) con Ruby on Rails. Entonces, buscando, encontré
el tutorial <a href="http://ruby.railstutorial.org">RailsTutorial</a> de 
<a href="http://twitter.com/railstutorial"> Michael Hartl </a> y como proyecto surgió hacer una red
social muy similar a Twitter.
</p>
<p> Y también, quiero aceptarlo... También es una parodia a varias "novedosas y revolucionarias" redes 
sociales mexicanas que hacen las cosas como no se tienen q hacer...
</p>
<p>En fin. Este fue mi intento por aprender Ruby y Ruby on Rails. Ruby es un lenguaje que me ha 
gustado mucho, es bastante divertido y versatil. Y al agregar Rails, el desarrollo web se vuelve 
bastante sencillo. Y me sirvió bastante :)
</p>
