<h1>Ayuda</h1>
<p>
  iTuits es una red social fácil de usar. Tienes 145 caracteres para expresar lo que quieras!
Puedes escribir lo que estas pensando en un momento, lo que te ha pasado en el día, cualquier cosa.
</p>
<p>
De momento aún faltan implementar muchas cosas. En futuras versiones podrás recibir menciones de
otros usuarios de iTuits!

Esperalo pronto!
</p>
