<h1>App de prueba</h1>
<p>
  Página de inicio para la aplicación de prueba del
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Creada por JC.
</p>
<%= link_to "Registrate aquí!", signin_path, :class => "boton_de_registro round"%>