<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "Acerca De", acercade_path %> </li>
			<li><%= link_to "Contacto", contacto_path %> </li>
			<li><a href="http://jezz.com.mx">Blog</a></li>
		</ul>
	</nav>
</footer>